body 
{
    background-color:mediumpurple;
}

p.sample1
{
     font-size:25px;
     color:white;
     text-align:center;    
     border:5px solid red;
}
p.sample2
{
     font-size:25px;
     color:white;
     text-align:center;   
     border:5px solid red;
}
p.sample3
{
     font-size:25px;
     color:white;
     text-align:center;   
     border:5px solid red;
}
p.sample4	
{
     font-size:25px;
     color:white;
     text-align:center;   
     border:5px solid red;
}
p.sample5
{
     font-size:25px;
     color:white;
     text-align:center;   
     border:5px solid red;
}
p.sample6
{
     font-size:25px;
     color:white;
     text-align:center;   
     border:5px solid red;
}
p.sample7
{
     font-size:25px;
     color:white;
     text-align:center;   
     border:5px solid red;
}
p.sample8
{
     font-size:25px;
     color:white;
     text-align:center;   
     border:5px solid red;
}

